{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1 class="text-center">Update Student Details</h1>
        <div style="justify-content: left;text-align: left">
        <form action="{% url 'uprec' id=applicant.id %}" method="post">
        {% csrf_token %}
                {{ form }}
            <br>
            <div style="display: grid;justify-content: center">
                <button class="btn btn-primary" type="submit" >Submit</button>
            </div>
            <br>
        </form>
        </div>
    </div>
{% endblock content %}